.statsQuestion{
  @apply text-small text-ecx-grey;
}
.statAns{
  @apply ml-5 mt-[0.94rem];
}
.statAns2{
  @apply text-normal mt-[0.62rem];
}
.scrollbar{
  scrollbar-width: thin;
  scrollbar-color: red;

  ::-webkit-scrollbar-thumb{
    background-color: red;
  }
}
@keyframes ellipsis {
  0% {
    content: ". ";
  }
  33% {
    content: ".. ";
  }
  66% {
    content: "... ";
  }
  100% {
    content: "";
  }
}
.animatedEllipsis:after {
  content: "";
  animation: ellipsis 1s infinite;
  display: inline-block;
}